{% extends 'base/base.html' %}

{% block title %}Order List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Order</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Order List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Supplier</th>
                                <th>Product</th>
                                <th>Design</th>
                                <th>Color</th>
                                <th>Buyer</th>
                                <th>Season</th>
                                <th>Drop</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if order %}
                            {% for order in order %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ order.supplier }}</td>
                                <td>{{ order.product }}</td>
                                <td>{{ order.design }}</td>
                                <td>{{ order.color }}</td>
                                <td>{{ order.buyer }}</td>
                                <td>{{ order.season }}</td>
                                <td>{{ order.drop }}</td>
                                <td>{{ order.created_date }}</td>
                                <td>
                                    {% if order.status == 'pending' %}
                                        <a class="btn btn-warning" href="">{{ order.status }}</a>
                                    {% elif order.status == 'decline' %}
                                        <a class="btn btn-danger" href="">{{ order.status }}</a>
                                    {% elif order.status == 'complete' %}
                                        <a class="btn btn-success" href="">{{ order.status }}</a>
                                    {% elif order.status == 'approved' %}
                                        <a class="btn btn-primary" href="">{{ order.status }}</a>
                                    {% elif order.status == 'bulk' %}
                                        <a class="btn btn-secondary" href="">{{ order.status }}</a>
                                    {% else %}
                                        <a class="btn btn-info" href="">{{ order.status }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Order Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}